.asbplayer-offscreen {
    position: fixed !important;
    left: 100% !important;
    top: 100% !important;
}

.asbplayer-subtitles {
    margin: 0;
    padding: 0;
    display: table;
    margin: auto;
    white-space: pre-wrap !important;
}

.asb-reading {
    ruby-position: over !important;
}

.asb-reading rt {
    font-size: 0.5em !important;
    line-height: 1 !important;
    display: revert !important; /* Safari doesn't support 'ruby-text' */
}

.asb-frequency {
    ruby-position: under;
}

.asb-frequency rt {
    font-size: 0.3em; /* This is overridden for SubtitlePlayer as it's too small */
    line-height: 1;
    position: relative;
    z-index: 1;
}

.asb-frequency-hover {
    ruby-position: under;
}

.asb-frequency-hover rt {
    font-size: 0.3em; /* This is overridden for SubtitlePlayer as it's too small */
    line-height: 1;
    display: none;
    position: relative;
    z-index: 1;
}

.asb-frequency-hover:hover rt {
    display: revert; /* Safari doesn't support 'ruby-text' */
}

.asb-definition {
    display: inline-block !important;
    text-align: center !important;
    vertical-align: baseline !important;
}

.asb-definition-below {
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    vertical-align: baseline !important;
    padding-bottom: 0.4em !important;
}

.asb-definition::before,
.asb-definition-below::after {
    font-size: 0.4em;
    line-height: 1;
    font-weight: normal;
    color: color-mix(in srgb, currentColor 85%, transparent);
    white-space: nowrap;
    text-align: center;
    pointer-events: none;
}

.asb-definition::before {
    content: attr(data-definition);
    display: block;
}

.asb-definition-below::after {
    content: attr(data-definition);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.asbplayer-subtitles-blurred {
    filter: blur(10px);
}

.asbplayer-subtitles-blurred:hover {
    filter: none;
}

.asbplayer-subtitle-rich {
    display: none;
}

.asbplayer-subtitles:hover .asbplayer-subtitle-text {
    display: none;
}

.asbplayer-subtitles:hover .asbplayer-subtitle-rich {
    display: inline;
}

.asbplayer-token-container:focus-within .asb-token-highlight:hover {
    background-color: rgb(0, 123, 255) !important;
}

.asbplayer-token-container:focus-within {
    outline: none;
}
